<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ site.logo | relative_url }}">
    <link rel="stylesheet" href="https://pages-themes.github.io/cayman/assets/css/style.css">
    
    <!-- Open Graph Mobile Meta Tags -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.image | relative_url }}">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Policy Advocacy Framework Hub.</span>
      </footer>
    </main>
  </body>
</html>