<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="icon" type="image/png" href="{{ site.logo | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Mobile Social Share Card -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.image | relative_url }}">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>